@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>National Criminal</h1>
    <p class="lead">This is Demo App for National Criminal Search.</p>
    <p class="lead">The App search for criminal respect to user input search paramters and the system look at matching criminal at the Database, then system send 
    Profiles PDFs at the user's email </p>
    <p class="lead">This Feature available only for registered user.</p>
   
</div>

